@import 'mobile.css';
@import 'variables.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  background-color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

#principal {
  background-color: hsl(246, 80%, 60%);
  border-radius: 10px;
}

#principal h2 {
  color: var(--primary-color-transition-initial);
}

p {
  color: var(--primary-color-transition-initial);
}

#principal img {
  border-radius: 50%;
  border: 4px solid white;
}

#nav {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  min-height: 5rem;
  position: relative;
  bottom: 4rem;
}

#work aside {
  background-color: hsl(15, 100%, 70%);
}

#study aside {
  background-color: hsl(348, 100%, 68%);
}

#play aside {
  background-color: hsl(195, 74%, 62%);
}

#exercise aside {
  background-color: hsl(145, 58%, 55%);
}

#social aside {
  background-color: hsl(264, 64%, 52%);
}

#self-care aside {
  background-color: hsl(43, 84%, 65%);
}

/* .info {
  background-color: hsl(235, 46%, 20%);
} */

.info aside {
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 9rem;
  order: 0;
}

.info article {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  min-height: 6rem;
  order: 1;
}

.info {
  min-width: 17rem;
}

button {
  color: var(--primary-color-transition-initial);
  background-color: hsl(235, 46%, 20%);
  border: none;
}

button:hover {
  transition: 0s;
  color: white;
}
