:root {
  --primary-color: hsl(226, 43%, 10%);
  --primary-color-header-info: hsl(246, 80%, 60%);
  --primary-color-transition-final: hsl(235, 45%, 61%);
  --primary-color-transition-initial: hsl(236, 100%, 87%);

  /* colores intermedios */
}
